<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Recupera Senha</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footerCliente.css}" />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
</head>
<body>
<header th:replace="fragments/header :: cabecalho-cliente">
</header>
<div class="container">
    <form th:action="@{/usuario/c/nova-senha/}"
          class="form-signin was-validated" method="POST" th:object="${usuario}">
        <div class="text-center mb-4 mt-5">
            <p class="font-weight-lighter">Redefir Senha</p>
            <p class="text-muted">Verifique seu e-mail para continuar!</p>
        </div>

        <div class="row justify-content-md-center mb-3">
            <div class="col-md-4">
                <div th:replace="fragments/alert :: alerta-sucesso"></div>
                <label>Email</label>
                <input type="email" class="form-control" th:value="${email}" name="email" readonly/>
            </div>
        </div>

        <div class="row justify-content-md-center mb-3">
            <div class="col-md-4">
                <label for="inputPassword">Nova Senha</label>
                <input type="password" id="inputPassword" class="form-control"
                       placeholder="Password" name="senha" required />
                <div class="invalid-feedback">Digite uma nova senha.</div>
            </div>
        </div>

        <div class="row justify-content-md-center mb-3">
            <div class="col-md-4">
                <label for="inputCodigoVerificador">Código Verificador</label>
                <input type="text" id="inputCodigoVerificador" class="form-control"
                       placeholder="código" name="codigoVerificador" required />
                <div class="invalid-feedback">Insira o código que recebeu por e-mail.</div>
            </div>
        </div>
        <div class="row justify-content-md-center mb-3">
            <div class="col-md-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
            </div>
        </div>
        <div class="row justify-content-md-center mb-3">
            <div class="col-md-4">
                <hr>
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-left nav-link text-decoration-none" th:href="@{/}">
                        <i class="fas fa-home"></i>&nbsp;Home</a>
                </nav>
                <p class="mt-5 mb-3 text-muted text-center">Sport Tads&copy; 2021</p>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: footer-cliente"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>
