<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gerenciamento de Pedido</title>
    <link rel="stylesheet" type="text/css" href="/Dashboard/bibliotecas/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Dashboard/bibliotecas/font-awesome/css/font-awesome.min.css">
    <link href="/Dashboard/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/Dashboard/css/sb-admin.min.css">
</head>
<style>
    h1{
        text-align: center;
        padding: 50px;
    }
</style>
<body class="bg-dark fixed-nav sticky-footer" id="page-top">
<header th:replace="fragments/header :: cabecalho">
    <div>header</div>
</header>
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Gerenciamento de Pedido
            </li>
        </ol>
        <div class="card-text mb-5">
            <label>Filtro | Status</label>
            <select class="form-control" id="selectStatus">
                <option value="0" selected>Selecione um Status</option>
                <option value="1">Aguardando Confirmação do Pagamento</option>
                <option value="2">Pagamento Aprovado</option>
                <option value="3">Pagamento rejeitado</option>
                <option value="4">Aguardando retirada</option>
                <option value="5">Em Transporte</option>
                <option value="6">Entregue</option>
            </select>
        </div>
        <div class="card w-90 mb-3" th:if="${!pedidos.isEmpty()}" th:each="pedido : ${pedidos}">
            <h5 class="card-header text-white bg-primary mb-3">Pedido: <span
                    th:text="${pedido.id} + ' | Status: '+ ${pedido.status}"></span></h5>
            <div class="card-body">
                <p><b>Data e Hora da compra: </b><span th:text="${#temporals.format(pedido.dataHora, 'dd/MM/yyyy HH:mm')}"></span> |
                    <b>Valor Total: </b><span th:text="${#numbers.formatCurrency(pedido.totalFinal)}"></span> </p>
                <a class="btn btn-primary float-right mr-2" type="button"
                   th:href="@{/pedido/estoquista/{idPedido}(idPedido=${pedido.id})}">
                    Alterar Status
                </a>
                </div>
            </div>
            <div class="card w-90 mb-3" th:unless="${!pedidos.isEmpty()}">
                Não há pedidos para o Status Selecionado!
            </div>
        </div>
    </div>
</div>

<footer class="sticky-footer" th:fragment="footer">
    <div class="text-center">
        <small>Copyright Sport Tads 2021</small>
    </div>
</footer>

<script src="/Dashboard/bibliotecas/jquery/jquery.min.js"></script>
<script src="/Dashboard/bibliotecas/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Dashboard/bibliotecas/jquery-easing/jquery.easing.min.js"></script>
<script src="/Dashboard/js/sb-admin.min.js" type="text/javascript"></script>
<script th:inline="javascript" th:fragment="inlinescript">
    $("#selectStatus").change(function(){
        let statusId = $(this).val()
        console.log(statusId)
        location.href = "/pedido/estoquista/gerenciar-pedidos/"+statusId
    })
</script>
</body>
</html>