<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/pedido.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />

    <style type="text/css">
        .container {
            margin: 0 auto;
            width: 50%;
        }
    </style>
</head>

<body>
    <header th:replace="fragments/header :: cabecalho-cliente"></header>
    <div class="container">
        <div class="card w-90">
            <h5 class="card-header text-white bg-primary mb-3">Pedido x</h5>
            <div class="card-body">
                <p class="card-text">Valor do pedido: </p>
                <p class="card-text">Forma de pagamento: </p>
                <p class="card-text">Endereco de Entrega:</p>
                <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="card w-90">
            <h5 class="card-header text-white bg-primary mb-3">Pedido y</h5>
            <div class="card-body ">
                <p class="card-text">Valor do pedido: </p>
                <p class="card-text">Forma de pagamento: </p>
                <p class="card-text">Endereco de Entrega:</p>
                <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="container">
        <div class="card w-90">
            <h5 class="card-header text-white bg-primary mb-3">Pedido z</h5>
            <div class="card-body">
                <p class="card-text">Valor do pedido: </p>
                <p class="card-text">Forma de pagamento: </p>
                <p class="card-text">Endereco de Entrega:</p>
                <a href="#" class="btn btn-primary">Mais detalhes</a>
            </div>
        </div>
    </div>
    <p></p>

</body>

</html>