<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta content="text/html; charset=UTF-8">
<title>Resumo da Compra</title>
<link rel="stylesheet" th:href="@{resumoCompra.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" />
</head>

<body>
	<header th:replace="fragments/header :: cabecalho-cliente"></header>
	<div class="container">
		<div class="row">
			<div class="col-sm mt-5">
				<div class="card bg-light p-3">
					<h5>Dados da entrega</h5>
					<hr>
					<div class="row">
						<div class="col-sm">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Selecione o endereço</h5>
									<select id="selectEndereco" class="form-control col-sm">
										<option th:each="endereco : ${@pedidoController.enderecos}"
											th:value="${endereco.id}" th:text="${endereco.nome}"
											selected="selected">Carregar o endereço escolhido
											aqui</option>
									</select><br /> <br /> <a th:href="@{/enderecos/formulario}"
										class="btn btn-primary">Cadastrar novo endereço</a>
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title"
										th:text="${@pedidoController.endereco.nome}"></h5>
									<p class="text">
										<b>Logradouro: </b><span
											th:text="${@pedidoController.endereco.logradouro}"></span> ,
										<span th:text="${@pedidoController.endereco.numero}"></span>
									</p>
									<p class="text">
										<b>Cep: </b><span th:text="${@pedidoController.endereco.cep}"></span>
										, <b>Bairro: </b><span th:text="${@pedidoController.endereco.bairro}"></span>
									</p>
									<p>
										<b>Cidade: </b><span th:text="${@pedidoController.endereco.localidade}"></span>
										- <span th:text="${@pedidoController.endereco.uf}"></span>
									</p>
									<p class="text">
										<b>Observação: </b><span
											th:text="${@pedidoController.endereco.complemento}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm mt-3">
				<div class="card bg-light p-3">
					<h5>Frete</h5>
					<hr>
					<div class="custom-control custom-radio"
						th:each="frete : ${@carrinhoController.fretes}">
						<span
							th:if="${@carrinhoController.carrinho.frete.id} == ${frete.id}">
							<input type="radio" th:id="${frete.id}" th:value="${frete.id}"
							name="custom" class="custom-control-input" checked> <label
							class="custom-control-label" th:for="${frete.id}"
							th:text="${frete.descricao} + ' - ' + ${#numbers.formatCurrency(frete.valorFrete)}">
								Retira - Grátis</label>
						</span> <span
							th:unless="${@carrinhoController.carrinho.frete.id} == ${frete.id}">
							<input type="radio" th:id="${frete.id}" th:value="${frete.id}"
							name="custom" class="custom-control-input"> <label
							class="custom-control-label" th:for="${frete.id}"
							th:text="${frete.descricao} + ' - ' + ${#numbers.formatCurrency(frete.valorFrete)}">
								Retira - Grátis</label>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" style="margin-right: 0px">
			<div class="col-sm mt-3">
				<div class="card bg-light p-3">
					<h5>Resumo da compra</h5>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Código</th>
									<th>Produto</th>
									<th>Valor</th>
									<th>Quantidade</th>
									<th>Subtotal</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${@carrinhoController.carrinho.itens}">
									<td th:text="${item.produto.id}">3</td>
									<td th:text="${item.produto.nome}">Chuteira Nike</td>
									<td th:text="${#numbers.formatDecimal(item.produto.preco,0,2)}"></td>
									<td><span th:text="${item.quantidade}"></span></td>
									<td>R$ <span
										th:text="${#numbers.formatDecimal(item.subtotal,0,2)}"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a th:href="@{/carrinho}" class="float-right">alterar</a>
				</div>
			</div>
			<div class="col-sm-lg-4 mt-3">
				<div class="card bg-light">
					<div class="card-body">
						<h5>Resumo do pagamento</h5>
						<div class="resumo">
							<span th:text="${@carrinhoController.carrinho.quantidadeTotal}"></span><span>
								produto(s) </span><span class="dados"
								th:text="${#numbers.formatCurrency(@carrinhoController.carrinho.total)}">
								11.097,00</span>
						</div>
						<div class="resumo">
							<span>Frete</span> <span class="dados"
								th:text="${#numbers.formatCurrency(@carrinhoController.carrinho.valorFrete)}">
								11.097,00</span>
						</div>
						<hr>
						<div class="resumo">
							<span><b>Total</b></span> <b><span class="dados"
								th:text="${#numbers.formatCurrency(@carrinhoController.total)}">R$
									1.999,00</span></b>
						</div>
						<div class="opcao-pagamento">em até 12x sem juros no cartão
							de crédito</div>
					</div>
				</div>
			</div>
		</div>
		<a type="button" class="btn btn-primary btn-block mt-3 mb-3" th:href="@{/pedido/concluirPedido}">Concluir Pedido</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
<script>
	$("#selectEndereco").change(function() {
		let endereco = $(this).val()
		location.href = "pedido/endereco/" + endereco
	})

	$('input[name = "custom"]').click(function() {
		let id = $(this).val()
		location.href = "pedido/frete/" + id

	})
</script>
</html>