<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/estilo.css" rel="stylesheet">
    <link href="css/Produto.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-3.5.1.min.js"></script>
    <title>Alterar Imagem Produto</title>

    <script>
        function previewImagem() {
            var imagem = document.querySelector('input[name=imagem]').files[0];
            var preview = document.querySelector('img');

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (imagem) {
                reader.readAsDataURL(imagem);
            } else {
                preview.src = "";
            }
        }
    </script>

</head>

<body class="container">
    <article>
        <fieldset>
            <legend>Adicionar/Remover Imagens</legend>
            <form action="" method="POST">
                <section class="secao">
                    <label><strong>Selecione um novo arquivo de imagem </strong></label><br>
                    <form method="POST" action="" enctype="multipart/form-data">
                        <input type="file" name="imagem" id="imagem" onchange="previewImagem()" /><br>
                        <img><br>
                        <input type="submit" value="Adicionar Imagem"><br>
                    </form><br />

                    <input type="checkbox" />
                    <img src="" />

                    <input type="checkbox" />
                    <img src="" />

                    <input type="checkbox" />
                    <img src="" />
                </section>
                <button class="btn btn-primary" type="submit" style="float: right">Alterar e Salvar</button>
            </form>
        </fieldset>
    </article>
</body>

</html>