<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/estilo.css" rel="stylesheet">
    <link href="css/Produto.css" rel="stylesheet">
    <link href="css/cadastroProduto.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-3.5.1.min.js"></script>

    <title>Cadastrar Produto</title>

    <script type="text/javascript">
        function previewImagem() {
            var imagem = document.querySelector('input[name=imagem]').files[0];
            var preview = document.querySelector('img');

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (imagem) {
                reader.readAsDataURL(imagem);
            } else {
                preview.src = "";
            }
        }

    </script>
</head>

<body>
    <article class="container">
        <fieldset>
            <legend>Cadastro de Produto</legend>
            <section class="secao">
                <div class="rows">
                    <div class="col-md-8 col-xs-12 ">
                        <label for="nomeid"><strong>Nome</strong></label>
                        <input name="nome" id="TituloCampo" class="form-control" required="true" maxlength="280"
                            min="3">
                    </div>
                </div><br>
                <div class="rows">
                    <div class="col-md-8 col-xs-12 ">
                        <label><strong>Nome Extenso</strong></label>
                        <textarea class="form-control" rows="3" type="text" maxlength="2000"></textarea>
                    </div>
                </div>
                </div><br>
                <div class="rows">
                    <label><strong>QTD estrelas</strong></label>
                    <div class="col-md-2 col-xs-12 ">
                        <input type="text" name="estrelas" class="form-control"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                </div><br>
                <div class="rows">
                    <label><strong>Status</strong></label>
                    <div class="col-md-2 col-xs-12 ">
                        <select name="status" class="form-control">
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                        </select>
                    </div>
                </div><br>
                <div class="rows">
                    <label><strong>Categoria</strong></label>
                    <div class="col-md-2 col-xs-12 ">
                        <select name="categoria" class="form-control" required="true">
                            <option value="" disabled selected>Selecione</option>
                            <option value="Aquaticos">Aquaticos</option>
                            <option value="Basquete">Basquete</option>
                            <option value="Fitness">Fitness</option>
                            <option value="Futebol">Futebol</option>
                            <option value="Marciais">Marciais</option>
                            <option value="Volei">Volei</option>
                        </select>
                    </div>
                </div><br>
                <div class="rows">
                    <label><strong>Qtd estoque</strong></label>
                    <div class="col-md-2 col-xs-12 ">
                        <input name="qtd" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            class="form-control" required="true" />
                    </div>
                </div><br>
                <div class="rowa">
                    <label><strong>Preço</strong></label>
                    <div class="col-md-2 col-xs-12 ">
                        <input name="preco"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 44"
                            class="form-control" required="true" pattern="^\d*(\.\d{0,2})?$" />
                    </div>
                </div><br>
            </section>

            <section class="secao">
                <label><strong>Selecione um novo arquivo de imagem </strong></label><br>
                <form method="POST" action="" enctype="multipart/form-data">
                    <input type="file" name="imagem" id="imagem" onchange="previewImagem()" /><br>
                    <img id="imgPreview"><br>
                    <input type="submit" value="Adicionar Imagem"><br>
                </form><br/>
            </section>

            <button type="submit" style="float: right" class="btn btn-primary">Salvar</button>
        </fieldset>
    </article>
</body>

</html>