<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/estilo.css" rel="stylesheet">
    <link href="css/Produto.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-3.5.1.min.js"></script>
    <title>Inativa e Reativa Produto</title>
</head>

<body class="container">
    <article>
        <fieldset>
            <legend>Inativar/Reativa Produto</legend>
            <form action="AlterarProduto" method="POST">
                <section class="secao">
                    <div>
                        <label><strong>Nome do Produto</strong></label>
                        <input class="form-control" name="nomeProduto" value="" readonly/>
                    </div><br />
                    <div>
                        <label><strong>Nome Extenso</strong></label>
                        <input class="form-control" name="nomeEstenso" value="" readonly />
                    </div><br />
                    <div>
                        <label><strong>QTD estrelas</strong></label>
                        <input class="form-control" name="qtdEstrela"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="" readonly/>
                    </div><br />
                    <div>
                        <label><strong>Status</strong></label>
                        <select name="status" class="form-control" required="true">
                            <option value="ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                        </select>
                    </div><br />
                    <div>
                        <label><strong>Categoria</strong></label>
                        <select name="categoria" class="form-control" disabled >
                            <option value="" disabled selected >Selecione</option>
                            <option value="Aquaticos">Aquaticos</option>
                            <option value="Basquete">Basquete</option>
                            <option value="Fitness">Fitness</option>
                            <option value="Futebol">Futebol</option>
                            <option value="Marciais">Marciais</option>
                            <option value="Volei">Volei</option>
                        </select>
                    </div><br />
                    <div>
                        <label><strong>Qtd Estoque</strong></label>
                        <input class="form-control" name="qtd"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="" readonly />
                    </div><br />
                    <div>
                        <label><strong>Preço</strong></label>
                        <input class="form-control" name="preco"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46"
                            value="" readonly />
                    </div><br />
                    <button class="btn btn-primary" type="submit" style="float: right">Salvar</button>
                </section>
            </form>
        </fieldset>
    </article>
</body>

</html>