<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/estilo.css" rel="stylesheet">
    <link href="css/Produto.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/jquery-3.5.1.min.js"></script>
    <title>Lista Produto</title>
</head>

<body >
    <article class="container">
        <fieldset>
            <legend>Lista de Produtos</legend>
            <section class="secao">
                <form action="" method="GET"></form>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <input name="idProduto" class="form-control" placeholder="Nome Produto"
                            aria-describedby="button-addon2">
                    </div>

                    <div class="form-group col-lg-2">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Buscar</button>
                    </div>
                </div>
                </form>
            </section>
            <section>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Qtd Estoque</th>
                            <th>Preço</th>
                            <th>Editar</th>
                            <th>Inativa/Reativar</th>
                            <th>Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <c:forEach var="produto" items="${listaProd}">
                            <tr class="table-light">
                                <td>Chuteira</td>
                                <td>99</td>
                                <td>159,99</td>
                                <td><a href="">EDITAR</a></td>
                                <td><a href="">INATIVAR/REATIVAR</a></td>
                                <td><a href="">VISUALIZAR</a></td>
                            </tr>
                        </c:forEach>
                    </tbody>
                </table>
                <div class="modal fade" id="modalExclusao" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão do produto?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Confirmar exclusão do produto: <label id="nomeProduto"></label>?
                                <input id="codProduto" hidden="true" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="excluirProduto()">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </section>
            <a href=""><button type="button" class="btn btn-primary" style="float: right">Novo Produto</button></a>
        </fieldset>
    </article>
</body>

</html>