<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body class="bg-dark fixed-nav sticky-footer" id="page-top">
    <header th:fragment="cabecalho">
        <!--Navegação-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
            <a th:href="@{/home}" class="navbar-brand">Sport Tads</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCurso" aria-control="navbarCurso" aria-expanded="false" aria-label="Navegação toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div id="navbarCurso" class="collapse navbar-collapse">
                <ul class="navbar-nav navbar-sidenav" id="linkarccordion">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" sec:authorize="hasAnyAuthority('Estoquista','Administrador')">
                        <a href="#linksComponentes" class="nav-link nav-link-collapse collapse" data-toggle="collapse" data-parent="#linkarccordion">
                            <i class="fas fa-users-cog"></i>
                            <span class="nav-link-text">Usuários</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="linksComponentes">
                            <li>
                                <a th:href="@{/usuario/cadastrar}" sec:authorize="hasAuthority('Administrador')">
                                    <i class="fas fa-user-plus"></i> Cadastro de Usuários
                                </a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('Estoquista','Administrador')">
                                <a th:href="@{/usuario/listar}"><i class="fas fa-list"></i> Lista de Usuários</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" sec:authorize="hasAnyAuthority('Estoquista','Administrador')">
                        <a href="#linkspaginas" class="nav-link nav-link-collapse collapse" data-toggle="collapse" data-parent="#linkarccordion">
                            <i class="fas fa-archive"></i>
                            <span class="nav-link-text">Produtos</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="linkspaginas">
                            <li>
                                <a th:href="@{/produtos/cadastroproduto}"><i class="fas fa-file-medical"></i> Cadastrar Produto</a>
                            </li>
                            <li>
                                <a th:href="@{/produtos/listaproduto}"><i class="fas fa-list"></i>Lista de Produtos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav sidenav-toggler">
                    <li class="nav-item">
                        <a id="sidenavToggler" class="nav-link text-center">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
                            <div class="form-check mb-2 mr-sm-2">
                                <a class="btn btn-light my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
                            </div>

                            <div class="form-check mb-2 mr-sm-2">
                                <a class="btn btn-light my-2 my-sm-0" role="button" th:href="@{/u/novo/cadastro}">Cadastrar-se</a>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="form-inline mt-2 mt-md-0">
                            <div class="btn-group mb-2 mr-sm-2">
                                <button type="button" class="btn btn-light">
                                <i class="fas fa-user"></i> <span class=""
                                    sec:authentication="name">Bob</span>
                            </button>
                                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                                <div class="dropdown-menu">
                                    <button type="submit" class="dropdown-item">Sair</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <header th:fragment="cabecalho-cliente">
        <section class="jumbotron text-center pt-3 pb-3 bg-primary">
            <div class="container">
                <div class="jumbotron-heading text-white">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/img/logo/lg.png}" height="50" alt="mdb logo">
                        </a>

                        <!-- Collapse button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav13"
                                aria-controls="basicExampleNav13" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Links -->
                        <div class="collapse navbar-collapse" id="basicExampleNav13">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <form class="form-inline mt-2 mt-md-0" sec:authorize="!isAuthenticated()">
                                        <div class="form-check mb-2 mr-sm-2">
                                            <a class="btn btn-light my-2 my-sm-0" role="button" th:href="@{/login}">Login</a>
                                        </div>

                                        <div class="form-check mb-2 mr-sm-2">
                                            <a class="btn btn-light my-2 my-sm-0" role="button" th:href="@{/usuario/novo/cadastro}">Cadastrar-se</a>
                                        </div>
                                    </form>
                                </li>
                                <li class="nav-item">
                                    <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post" class="form-inline mt-2 mt-md-0">
                                        <div class="btn-group mb-2 mr-sm-2">
                                            <button type="button" class="btn btn-light">
                                                <i class="fas fa-user"></i> <span class=""
                                                                                  sec:authentication="name">Bob</span>
                                            </button>
                                            <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" >
                                                <a th:href="@{/home}" class="dropdown-item" sec:authorize="hasAnyAuthority('Estoquista','Administrador')">Acesso Restrito</a>
                                                <a th:href="@{/clientes/cadastrar}" class="dropdown-item" sec:authorize="hasAuthority('Cliente')">Dados cadastrais</a>
                                                <a th:href="@{/enderecos}" class="dropdown-item" sec:authorize="hasAuthority('Cliente')">Meus endereços</a>
                                                <a th:href="@{/usuario/editar-senha}" class="dropdown-item" sec:authorize="hasAuthority('Cliente')">Alterar senha</a>
                                                <button type="submit" class="dropdown-item">Sair</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="row justify-content-center">
                        <h3>Pesquise as melhores ofertas aqui!</h3>
                    </div>
                </div>
                <form th:action="@{/pesquisar-por-nome}" method="get">
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <input id="autocomplete-input" name="nome" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group col-md-2">
                            <button id="autocomplete-submit" type="submit" class="btn btn-outline-light">Pesquisar</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">Categorias</button>
                            <button type="button" class="btn btn-primary">Novidades</button>
                            <button type="button" class="btn btn-primary">Promoções</button>
                            <button type="button" class="btn btn-primary">Cartão SportTads
                            <a class="navbar-brand" th:href="@{/}">
                                <img th:src="@{/img/produto/credit-card.png}" height="30" alt="mdb logo">
                            </a>
                            </button>
                            <button type="button" class="btn btn-primary">Sobre a SportTads</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </header>
</body>

</html>