body{
    background-color:rgba(26, 26, 153, 0.171);    
}
.div1 p {
    text-align: center;
    
}

.div1{
    margin-top: 5px;
    background-color:whitesmoke;
    border-radius: 5px;
    height: 150px;
    
}

.barraPesquisa{
    align-items: center;
}

.div2{
    background-color:rgba(30, 30, 240, 0.973);
    border-radius: 5px;
    height: 100px;
}

.divCarousel{
    background-color: dodgerblue;
    border-radius: 5px;
    height: 500px;

}
/*
.login{
   
}
.logo{
     
}
.barraPesquisa{
    

}
.iconeCarrinhoDeCompras{
  
}
*/
.carousel{
    height: 100px;
    width: 100%;
}
.carousel-item{
    width: 100%;
    height: 400px;
  
    
}

.CarouselLandingPage{
    margin-top: 100px;
    
}

.sectionBarraInicio container-fluid{
    padding-top: 5%;
    
}
.carousel-item p,h5{
    color:crimson;
    
}

.SectionMenuCardProdutos{
    border:5px solid blue;
    border-radius: 5px;
    margin-top: 300px;
    height: 100px;
    width: 98%;

}

.filtros{
    border: 5px solid red;
    max-width: 100%;
    height: 1000px;
}

.cardProdutos{
    border: 5px solid yellow;
    max-width: 100%;
    height: 1000px;
}

.SectionRodape{
    border: 5px solid black;
    height: 50px;
   
    
}

.um_terco{
    width: 33%;
    float: left;
    padding-top: 30px;
    padding-bottom: 50px;
      
}

.logo img {
    width: 35px;
    float: left;
}
