<!DOCTYPE html>
<html lang="pt">

<head>
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<title>Pagina Principal</title>
</head>

<body>

	<h1>Sport Tads</h1>
	<br>
	<h3>MENU</h3>
	<a href="produtos/cadastroproduto">Cadastro de Produto</a><br>
	<a href="produtos/listaproduto">Listar produtos</a><br>
	<a href="/VisualizarProduto"> Visualizar produto</a><br>
	<a href="/AlterarImagemProduto">Alterar Imagem do Produto</a><br>
	<a href="produtos/alterarproduto">Alterar Produto</a><br>
	<a href="/InativarAtivaProduto">Inativar produto</a><br>

	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>