<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>Alterar Imagem Produto</title>

    <script>
        function previewImagem() {
            var imagem = document.querySelector('input[name=imagem]').files[0];
            var preview = document.querySelector('img');

            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (imagem) {
                reader.readAsDataURL(imagem);
            } else {
                preview.src = "";
            }
        }
    </script>

</head>

<body class="container">
    <article>
        <fieldset>
            <legend>Adicionar/Remover Imagens</legend>
            <form action="" method="POST">
                <section class="secao">
                    <label><strong>Selecione um novo arquivo de imagem </strong></label><br>
                    <form method="POST" action="" enctype="multipart/form-data">
                        <input type="file" name="imagem" id="imagem" onchange="previewImagem()" /><br>
                        <img><br>
                        <input type="submit" value="Adicionar Imagem"><br>
                    </form><br />

                    <input type="checkbox" />
                    <img src="" />

                    <input type="checkbox" />
                    <img src="" />

                    <input type="checkbox" />
                    <img src="" />
                </section>
                <button type="submit" style="float: right">Alterar e Salvar</button>
            </form>
        </fieldset>
    </article>
    
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>    
</body>

</html>