<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
    <title>Alterar Imagem Produto</title>

</head>

<body>
    <div class="container">
        <article>

            <fieldset>
                <legend>Adicionar/Remover Imagens</legend>
                <form th:action="@{/imagens/save}" method="post" enctype="multipart/form-data">
                    <span th:object="${produto}">
				        <input type="hidden" name="idProduto" th:field="*{id}" >
				    </span>
                    <div class="row">
                        <div class="col s12">
                            <div class="offset-s2 col s4 " style="border: 1px solid black; margin-right: 10px;">
                                <h5 style="text-align: center;">Imagem Extra 01</h5>
                                <p style="text-align: center">
                                    <img id="thumbnail" alt="Logo Preview" style="width: 50%" />
                                </p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue accent-2">
                                        <span>Imagem</span>
                                        <input type="file" name="arquivoImagem01" id="arquivoImagem01" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col s4" style="border: 1px solid black">
                                <h5 style="text-align: center;">Imagem Extra 02</h5>
                                <p style="text-align: center">
                                    <img id="thumbnail1" alt="Logo Preview" style="width: 50%" />
                                </p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue accent-2">
                                        <span>Imagem</span>
                                        <input type="file" name="arquivoImagem02" id="arquivoImagem02" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="offset-s2 col s4" style="border: 1px solid black; margin-right: 10px">
                               <h5 style="text-align: center;">Imagem Extra 03</h5>
                                <p style="text-align: center">
                                    <img id="thumbnail2" alt="Logo Preview" style="width: 50%"/>
                                </p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue accent-2">
                                        <span>Imagem</span>
                                        <input type="file" name="arquivoImagem03" id="arquivoImagem03" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col s4" style="border: 1px solid black">
                                <h5 style="text-align: center;">Imagem Extra 04</h5>
                                <p style="text-align: center">
                                    <img id="thumbnail3" alt="Logo Preview" style="width: 50%"/>
                                </p>
                                <div class="file-field input-field">
                                    <div class="btn light-blue accent-2">
                                        <span>Imagem</span>
                                        <input type="file" name="arquivoImagem04" id="arquivoImagem04" accept="image/png, image/jpeg">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a> <button class="btn waves-effect  light-blue accent-2" type="submit"><i class="material-icons right">send</i>Salvar</button></a>
                </form>
            </fieldset>
        </article>
    </div>
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#arquivoImagem01').change(function() {
                showImageThumbnail(this);
            });
        });

        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }

        $(document).ready(function() {
            $('#arquivoImagem02').change(function() {
                showImageThumbnail01(this);
            });
        });

        function showImageThumbnail01(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail1').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }

        $(document).ready(function() {
            $('#arquivoImagem03').change(function() {
                showImageThumbnail02(this);
            });
        });

        function showImageThumbnail02(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail2').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }

        $(document).ready(function() {
            $('#arquivoImagem04').change(function() {
                showImageThumbnail03(this);
            });
        });

        function showImageThumbnail03(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail3').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
    </script>
</body>

</html>