<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"/>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet"
          href="/materialize/css/materialize.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet"
          href="/materialize/css/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript">
		  $(document).ready(function(){
	    	$('select').formSelect();
	  		});

    </script>
    <title>Inativa e Reativa Produto</title>
</head>

<body>
<div class="container">
    <fieldset>
        <legend>Inativar/Reativa Produto</legend>
        <form th:action="@{/produtos/inativarreativarproduto}" method="post" th:object="${produtoObj}">
            <div class="row">
                <div class="col s12">
                    <div class="col s1">
                        <label><strong>ID</strong></label> <input name="id"
                                                                  th:field="*{id}" readonly/>
                    </div>
                    <div class="col s11">
                        <label><strong>Nome</strong></label> <input name="nome"
                                                                    th:field="*{nome}" readonly/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <label><strong>Nome Extenso</strong></label> <input
                            name="descricao" th:field="*{descricao}" readonly/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col s12">
                    <div class="col s4">
                        <label><strong>QTD estrelas</strong></label> <input
                            name="estrelas"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            th:field="*{estrelas}" readonly/>
                    </div>
                    <div class="col s2">
                        <label><strong>Status</strong></label>
                        <div th:switch="${produtoObj.status}">
                            <div th:case="'Ativo'">
                                <input value="Ativo" readonly>
                            </div>

                            <div th:case="'Inativo'">
                                <input value="Inativo" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col s6">
                        <label><strong>Categoria</strong></label>
                        <input name="estrelas" th:field="*{categoria}" readonly/>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="col s6">
                                <label><strong>Qtd Estoque</strong></label> <input
                                    name="quantidade" th:field="*{quantidade}"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                    readonly/>
                            </div>
                            <div class="col s6">
                                <label><strong>Preço</strong></label>
                                <input name="preco" th:field="*{preco}"
                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <a style="float: left;" class="btn-floating btn-large waves-effect light-blue accent-2" href="#"
                       th:href="@{/produtos/listaproduto}"><i class="material-icons">keyboard_arrow_left</i></a>

                    <div th:switch="${produtoObj.status}">
                        <div th:case="'Ativo'">
                            <input type="hidden" name="status" value="Inativo">
                            <button style="float: right;" class="btn waves-effect light-blue accent-2" type="submit">Inativar
                            </button>
                        </div>

                        <div th:case="'Inativo'">
                            <input type="hidden" name="status" value="Ativo">
                            <button style="float: right;" class="btn waves-effect light-blue accent-2" type="submit">Ativar
                            </button>
                        </div>
                    </div>


        </form>
    </fieldset>

    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</div>
</body>

</html>