<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>Inativa e Reativa Produto</title>
</head>

<body>
    <article>
        <fieldset>
            <legend>Inativar/Reativa Produto</legend>
            <form action="AlterarProduto" method="POST">
                <section class="secao">
                    <div>
                        <label><strong>Nome do Produto</strong></label>
                        <input name="nomeProduto" value="" readonly/>
                    </div><br />
                    <div>
                        <label><strong>Nome Extenso</strong></label>
                        <input name="nomeEstenso" value="" readonly />
                    </div><br />
                    <div>
                        <label><strong>QTD estrelas</strong></label>
                        <input name="qtdEstrela"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="" readonly/>
                    </div><br />
                    <div>
                        <label><strong>Status</strong></label>
                        <select name="status"  required="true">
                            <option value="ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                        </select>
                    </div><br />
                    <div>
                        <label><strong>Categoria</strong></label>
                        <select name="categoria" disabled >
                            <option value="" disabled selected >Selecione</option>
                            <option value="Aquaticos">Aquaticos</option>
                            <option value="Basquete">Basquete</option>
                            <option value="Fitness">Fitness</option>
                            <option value="Futebol">Futebol</option>
                            <option value="Marciais">Marciais</option>
                            <option value="Volei">Volei</option>
                        </select>
                    </div><br />
                    <div>
                        <label><strong>Qtd Estoque</strong></label>
                        <input name="qtd"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="" readonly />
                    </div><br />
                    <div>
                        <label><strong>Preço</strong></label>
                        <input name="preco"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46"
                            value="" readonly />
                    </div><br />
                    <button type="submit" style="float: right">Salvar</button>
                </section>
            </form>
        </fieldset>
    </article>
    
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>